@import url('https://fonts.googleapis.com/css?family=Mitr:400,600,700&display=swap');
@import './variables.scss';

html {
  min-height: 100vh;
  background-color: black;
}

body {
  font-family: 'Mitr', sans-serif;
  color: $main-font-color;
}

h1 {
  text-shadow: 1px 1px 2px $main-color;
}

.btn-main {
  background-color: $main-color;
  color: white !important;
  border: 1px solid $second-light-color;
  padding: 0.6em;
  border-radius: 8px;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: $main-light-color;
  }
  &:active {
    background-color: $main-dark-color;
  }
}


.main-link {
  color: $second-dark-color;
  &:hover {
    color: $second-light-color;
    text-decoration: none;
  }
}

.error-container {
  width: 75%;
  margin: 1em 0;
}

.search-input {
  border: 1px solid grey;
  background-color: white;
  border-radius: 3px;
  &:focus-within {
    border-color: $second-light-color;
    box-shadow: 0 0 0 0.1rem $second-dark-color;
  }
  input {
    &::placeholder {
      font-style: italic;
      color: grey;
    }
    &:focus {
      box-shadow: none;
    }
  }
}

.page-item {
  .page-link {
    color: $second-dark-color;
    border-color: $second-light-color;
    &:hover {
      color: $main-light-color !important;
      border-color:$main-light-color;
    }
    &.active {
      color: $main-color;
      border-color:$main-light-color;
      background-color: rgb(186, 219, 190);
    }
  }
}

.white-divider {
  border-color: white;
}

.text-blue {
  color: $second-light-color;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px $main-color;
}

.btn-detail {
  text-shadow: 1px 1px 2px $main-color;
}

.main-table {
  background-color: white;
  border-radius: 8px;
  th {
    border-top: 0;
  }
}

.main-tabs {
  .nav-tabs {
    border-bottom: 0;
  }
  .nav-link {
    margin: 0 1em !important;
    color: $second-light-color;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px $main-color;
    transition: all 0.2s ease-out;
    border-radius: 20px;
    &:hover {
      border-color: transparent;
      background-color: rgb(34, 34, 34);
      text-decoration: none;
      color: $second-color;
    }
  }
  .nav-link.active {
    color: $second-light-color;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px $main-color;
    background-color: rgba(65, 65, 65, 0.876);
    border-color: transparent;
    border-radius: 20px;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: rgb(34, 34, 34);
      color: $second-color;
    }
  }
}