$main-color:#019701;
$main-light-color:#02a802;
$main-dark-color:#038803;
$second-color:#2ab2cadc;
$second-light-color: #40cbe4dc;
$second-light-color-06: rgba(63, 203, 228, 0.6);
$second-dark-color: #1492a8dc;
$main-font-color: #02023d;

$screen-md-max: 575.98px;

@mixin mobile {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}