@import '../../assets/scss//variables.scss';

.navbar-main {
  background-color: black;
  box-shadow: 0 0 5px 2px rgba(0, 255, 64, 0.554), 0 0 1px 2px rgba(0, 162, 255, 0.554);
  height: 5em;
}

.nav-brand {
  padding: 0.5em;
  border-radius: 8px;
}

.nav-brand, .btn.btn-blue {
  color: $second-light-color;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px $main-color;
  &:hover {
    background-color: rgb(34, 34, 34);
    text-decoration: none;
    color: $second-color;
  }
}