.public-container {
  background-color: black;
  background-image: url('../../assets/images/bg.jpg');
  background-size: cover;
}

.public-center-container {
  background-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0px 0px 10px  rgba(164, 201, 202, 0.5));
  border-radius: 8px;
  box-shadow: 0 0 5px 2px rgba(0, 255, 64, 0.554), 0 0 1px 2px rgba(0, 162, 255, 0.554);
}