@import '../../assets/scss/variables.scss';

.character-card {
  width: 7rem;
  flex: none !important;
  .character-card-name {
    text-align: center;
    font-size: 14px;
    background-color: $second-light-color-06;
    text-shadow: 1px 1px 2px $main-color;
    width: 100%;
  }
  .card-footer {
    z-index: 20;
  }
}